body {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto; }

nav {
  border-bottom: 1px solid #ddd;
  margin: em(30) 0; }
  nav ul {
    display: inline-block;
    margin-bottom: em(10); }

.article-list-title {
  margin-bottom: 0; }

.article-list-date {
  font-size: 0.85em; }

header {
  margin: 6em 0 3em 0;
  text-align: center;
  border-bottom: 1px solid #ddd; }

.devblog-header h1 {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3em;
  text-shadow: 0 1px 1px #93a1a1; }

.devblog-header a {
  color: #b58900; }

.devblog-header h2, .devblog-header h3 {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: normal; }

.devblog-header h2 {
  font-size: 1.25em;
  color: #657b83; }

.devblog-header h3 {
  font-style: italic;
  color: #93a1a1; }

.devblog-title {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.75em 0 .25em 0; }

.devblog-subtitle {
  color: #657b83;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 1.15em;
  font-weight: normal; }

.devblog-author {
  color: #93a1a1;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal; }

footer {
  border-top: 1px solid #ddd;
  margin: 2em 0;
  padding-top: 2em; }

/* Background */
.chroma {
  color: #657b83;
  background-color: #fdf6e3; }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block; }

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc; }

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* Keyword */
.chroma .k {
  color: #859900; }

/* KeywordConstant */
.chroma .kc {
  color: #859900;
  font-weight: bold; }

/* KeywordDeclaration */
.chroma .kd {
  color: #859900; }

/* KeywordNamespace */
.chroma .kn {
  color: #dc322f;
  font-weight: bold; }

/* KeywordPseudo */
.chroma .kp {
  color: #859900; }

/* KeywordReserved */
.chroma .kr {
  color: #859900; }

/* KeywordType */
.chroma .kt {
  color: #859900;
  font-weight: bold; }

/* Name */
.chroma .n {
  color: #268bd2; }

/* NameAttribute */
.chroma .na {
  color: #268bd2; }

/* NameBuiltin */
.chroma .nb {
  color: #cb4b16; }

/* NameBuiltinPseudo */
.chroma .bp {
  color: #268bd2; }

/* NameClass */
.chroma .nc {
  color: #cb4b16; }

/* NameConstant */
.chroma .no {
  color: #268bd2; }

/* NameDecorator */
.chroma .nd {
  color: #268bd2; }

/* NameEntity */
.chroma .ni {
  color: #268bd2; }

/* NameException */
.chroma .ne {
  color: #268bd2; }

/* NameFunction */
.chroma .nf {
  color: #268bd2; }

/* NameFunctionMagic */
.chroma .fm {
  color: #268bd2; }

/* NameLabel */
.chroma .nl {
  color: #268bd2; }

/* NameNamespace */
.chroma .nn {
  color: #268bd2; }

/* NameOther */
.chroma .nx {
  color: #268bd2; }

/* NameProperty */
.chroma .py {
  color: #268bd2; }

/* NameTag */
.chroma .nt {
  color: #268bd2;
  font-weight: bold; }

/* NameVariable */
.chroma .nv {
  color: #268bd2; }

/* NameVariableClass */
.chroma .vc {
  color: #268bd2; }

/* NameVariableGlobal */
.chroma .vg {
  color: #268bd2; }

/* NameVariableInstance */
.chroma .vi {
  color: #268bd2; }

/* NameVariableMagic */
.chroma .vm {
  color: #268bd2; }

/* Literal */
.chroma .l {
  color: #2aa198; }

/* LiteralDate */
.chroma .ld {
  color: #2aa198; }

/* LiteralString */
.chroma .s {
  color: #2aa198; }

/* LiteralStringAffix */
.chroma .sa {
  color: #2aa198; }

/* LiteralStringBacktick */
.chroma .sb {
  color: #2aa198; }

/* LiteralStringChar */
.chroma .sc {
  color: #2aa198; }

/* LiteralStringDelimiter */
.chroma .dl {
  color: #2aa198; }

/* LiteralStringDoc */
.chroma .sd {
  color: #2aa198; }

/* LiteralStringDouble */
.chroma .s2 {
  color: #2aa198; }

/* LiteralStringEscape */
.chroma .se {
  color: #2aa198; }

/* LiteralStringHeredoc */
.chroma .sh {
  color: #2aa198; }

/* LiteralStringInterpol */
.chroma .si {
  color: #2aa198; }

/* LiteralStringOther */
.chroma .sx {
  color: #2aa198; }

/* LiteralStringRegex */
.chroma .sr {
  color: #2aa198; }

/* LiteralStringSingle */
.chroma .s1 {
  color: #2aa198; }

/* LiteralStringSymbol */
.chroma .ss {
  color: #2aa198; }

/* LiteralNumber */
.chroma .m {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberBin */
.chroma .mb {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberFloat */
.chroma .mf {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberHex */
.chroma .mh {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberInteger */
.chroma .mi {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberOct */
.chroma .mo {
  color: #2aa198;
  font-weight: bold; }

/* OperatorWord */
.chroma .ow {
  color: #859900; }

/* Comment */
.chroma .c {
  color: #93a1a1;
  font-style: italic; }

/* CommentHashbang */
.chroma .ch {
  color: #93a1a1;
  font-style: italic; }

/* CommentMultiline */
.chroma .cm {
  color: #93a1a1;
  font-style: italic; }

/* CommentSingle */
.chroma .c1 {
  color: #93a1a1;
  font-style: italic; }

/* CommentSpecial */
.chroma .cs {
  color: #93a1a1;
  font-style: italic; }

/* CommentPreproc */
.chroma .cp {
  color: #93a1a1;
  font-style: italic; }

/* CommentPreprocFile */
.chroma .cpf {
  color: #93a1a1;
  font-style: italic; }

/* Generic */
.chroma .g {
  color: #d33682; }

/* GenericDeleted */
.chroma .gd {
  color: #d33682; }

/* GenericEmph */
.chroma .ge {
  color: #d33682; }

/* GenericError */
.chroma .gr {
  color: #d33682; }

/* GenericHeading */
.chroma .gh {
  color: #d33682; }

/* GenericInserted */
.chroma .gi {
  color: #d33682; }

/* GenericOutput */
.chroma .go {
  color: #d33682; }

/* GenericPrompt */
.chroma .gp {
  color: #d33682; }

/* GenericStrong */
.chroma .gs {
  color: #d33682; }

/* GenericSubheading */
.chroma .gu {
  color: #d33682; }

/* GenericTraceback */
.chroma .gt {
  color: #d33682; }

/* GenericUnderline */
.chroma .gl {
  color: #d33682; }

body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 1.15em;
  line-height: 2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0.75em 0 0.375em 0; }

h1 {
  font-size: 1.75em;
  margin: 0.75em 0 0.75em 0; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #268bd2;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #1a6091; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

pre, code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  line-height: 1.2; }

code {
  line-height: 2; }

.footnote {
  font-size: 0.75em; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }
