header {
  margin: 6em 0 3em 0;
  text-align: center;
  border-bottom: 1px solid $base-border-color;
}

.devblog-header {
  h1 {
    font-family: $code-font-family;
    font-size: $base-font-size * 3;
    text-shadow: 0 1px 1px $solarized-base1;
  }

  a {
    color: $solarized-yellow;
  }

  h2, h3 {
    font-family: $base-font-family;
    font-weight: normal;
  }

  h2 {
    font-size: $base-font-size * 1.25;
    color: $solarized-base00;
  }

  h3 {
    font-style: italic;
    color: $solarized-base1;
  }
}

