<header class="devblog-header">
  <h1 class="devblog-title">
    <%= link_to "{ :to => self - 30 }", "/index.html" %>
  </h1>
  <h2>One person's journey in developing software.</h2>
  <h3>Lance J Johnson</h3>
</header>
